* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #c5d4f0
    color: #111111;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.navbar {
    width: 100%;
    min-height: 80px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eda4a4;
    border-bottom: 1px solid #f2e3e3;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.logo span {
    color: hsl(240, 88%, 3%);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    font-size: 0.9rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #010b0b;
}

.nav-btn,
.btn {
    display: inline-block;
    padding: 13px 24px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-btn,
.primary {
    background: #d4af37;
    color: #7f07cf;
}

.nav-btn:hover,
.primary:hover {
    background: #fff;
    transform: translateY(-2px);
}

.hero {
    min-height: 90vh;
    padding: 70px 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.eyebrow,
.section-heading p {
    color: #3e067f;
    font-size: 0.8rem;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: clamp(3rem, 7vw, 6.5rem);
    line-height: 0.95;
    margin-bottom: 25px;
}

.hero h1 span,
.section-heading span {
    color: #061e6b;
}

.hero-description {
    max-width: 500px;
    color: #0e058a;
    margin-bottom: 30px;
    font-size: 1.05rem;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.outline {
    border: 1px solid #06c6a6;
    color: #836607;
}

.outline:hover {
    background: #d4af37;
    color: #f1ecec;
}

.hero-photo img {
    height: 600px;
    border-radius: 4px;
}

.section {
    padding: 100px 7%;
}

.section-heading {
    text-align: center;
    margin-bottom: 55px;
}

.section-heading h2 {
    font-size: clamp(2rem, 4vw, 3.5rem);
}

.about-content {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-photo img {
    height: 500px;
}

.about-text h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-text p {
    color: hwb(326 44% 42%);
    margin-bottom: 20px;
}

.product-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(250px, 1fr));
    gap: 20px;
}
.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.product-card {
    background: hsl(0, 16%, 94%);
    border: 1px solid hsl(0, 42%, 87%);
    transition: 0.3s;
    width: 100%; /* Ensures it stays inside its grid cell */
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-8px);
    border-color: #d4af37;
}


.product-card div {
    padding: 22px;
}

.product-card h3 {
    margin-bottom: 8px;
}

.product-card p {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.product-card a {
    color: #d4af37;
    font-weight: bold;
}

.why {
    background: hsl(315, 26%, 72%);
}

.features {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.feature {
    padding: 30px;
    border: 1px solid #e96767;
}

.feature span {
    color: #d4af37;
    font-size: 1.5rem;
    font-weight: bold;
}

.feature h3 {
    margin: 20px 0 10px;
}

.feature p {
    color: #999;
}

.gallery-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery-grid img {
    height: 350px;
    transition: 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.02);
}

.contact {
    background: #b6d0de;
}

.contact-container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.contact-info h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.contact-info > p {
    color: #aaa;
    margin-bottom: 30px;
}

.contact-detail {
    margin-bottom: 20px;
}

.contact-detail strong {
    color: #d4af37;
}

.contact-detail p {
    color: #aaa;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #333;
    background: #7991ce;
    color: white;
    font-family: inherit;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #d4af37;
}

button {
    padding: 16px;
    border: none;
    background: #d4af37;
    color: #b584dc;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: white;
}

footer {
    padding: 60px 7% 20px;
    background: #f4e7f0;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}

.footer-content p {
    color: #888;
    margin-top: 10px;
}

.footer-content h3 {
    margin-bottom: 15px;
}

.footer-content a:not(.logo) {
    display: block;
    color: #999;
    margin: 7px 0;
}

.copyright {
    text-align: center;
    border-top: 1px solid #222;
    margin-top: 50px;
    padding-top: 20px;
    color: #666;
    font-size: 0.85rem;
}


/* MOBILE */
@media (max-width: 900px) {

    .nav-links {
        display: none;
    }

    .hero {
        grid-template-columns: 1fr;
        padding-top: 50px;
    }

    .hero-photo img {
        height: 450px;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {

    .navbar {
        padding: 0 5%;
    }

    .nav-btn {
        display: none;
    }

    .hero {
        padding: 50px 5%;
    }

    .section {
        padding: 70px 5%;
    }

    .product-grid,
    .features,
    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 3.5rem;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero-buttons .btn {
        text-align: center;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }
}